@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

$font-family: 'SeoulNamsanM';
$color-primary100: #fffbed;
$color-primary200: #ffefb0;
$color-primary300: #ffb700;
$color-primary800: #633d05;
$color-secondary100: #fbf5ff;
$color-secondary200: #e5cef6;
$color-secondary300: #a65ddf;
$color-secondary800: #7200c9;
$color-neutral300: #888888;
$color-neutral400: #595959;
$color-neutral800: #292929;

@mixin columnGap($gap) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: $gap;
}
@mixin fontSetting($size, $height, $weight) {
    font-size: $size;
    line-height: $height;
    font-weight: $weight;
}

.post-page {
    font-family: $font-family;
    width: 100vw;
    header {
        @include fontSetting(36px, 72px, 800);
        color: $color-primary800;
        background-color: $color-primary200;
    }
    .post-container {
        width: 100vw;
        height: 100vh;
        @include columnGap(16px);
        align-items: center;
        margin-top: 16px;

        .post-card {
            box-sizing: border-box;
            width: 64vw;
            @include columnGap(12px);
            padding: 20px;
            background-color: $color-primary100;
            border-radius: 8px;

            .card-title {
                width: 100%;
                height: 40px;
                text-align: left;
                white-space: normal;
                overflow: hidden;
                display: flex;
                gap: 8px;
                margin: 0;

                .title-number {
                    @include fontSetting(16px, 20px, 600);
                    color: $color-primary300;
                }
                .title-line {
                    @include fontSetting(16px, 20px, 800);
                    color: $color-neutral800;
                    flex-grow: 1;
                }
            }
            .card-content {
                height: 32px;
                @include fontSetting(16px, 16px, 400);
                color: $color-neutral300;
                text-align: initial;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
            &:hover {
                background-color: $color-secondary100;
                border: 2px $color-secondary200 solid;
                padding: 18px;
                cursor: pointer;
                .card-title .title-number {
                    color: $color-secondary300;
                }
                .card-title .title-line {
                    color: $color-secondary800;
                }
            }
        }
    }
}
