실습08 html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 24px;
    height: 20px;
    display: none;
}

.icon {
    display: none;
}

.menu {
    height: auto;
    position: relative;
    background-color: gray;
    /* padding: 10px; */
}

.menu-items {
    /* list-style: none; */
    display: flex;
    background-color: rgb(234, 132, 132);
    justify-content: space-evenly;
    color: white;
}

a:hover {
    background-color: rgb(176, 176, 176);
}

@media (max-width: 768px) {
    .icon-menu {
        display: block;
    }

    .menu-items {
        display: none;
        flex-direction: column;
        position: absolute;
        text-align: center;
        /* margin: 10px 0 0 -10px; */
        width: 100vw;
        border-top: 1px solid white;
    }

    .icon:checked ~ .menu-items {
        display: flex;
    }
    .menu-item {
        margin: 10px;
    }
}
